*{
    margin:0;
    padding:0;
}
/* ---------Declaracion de las variables - Inicio ------------*/
:root{
    --color0:rgb(226, 106, 8);
    --color1:#212529;
    --color2:antiquewhite;
}
/* ---------Declaracion de las variables - Fin ------------*/

/* -----------------------------Header - Inicio------------------------------------ */
.navBarImg img{
    width: 5rem;
    padding-left:1.5rem;
}
.navBarTitulo{
    color: var(--color0);
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.collapse{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-left:2.5rem;
}
.nav-item a{
    font-size: 1.2rem;
}

/* -----------------------------Header - Fin------------------------------------ */

/* -----------------------------Main - Inicio------------------------------------ */
.jumbotron{
    background-image: url(https://media.istockphoto.com/photos/delicious-meal-picture-id1295387240?b=1&k=20&m=1295387240&s=170667a&w=0&h=KtWYFjSBgpNgVkE3P-WKZ2F6V-VxyUBBtJIP_k8IANM=);
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumboTitulo{
    color:var(--color0);
    text-shadow: black 5px 0px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.6rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.jumboP{
    color:var(--color0);
    text-shadow: black 5px 0px 0px;
    font-size: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.boton .btn{
    font-size: 2rem;
    background-color: var(--color0);
}
.boton .btn:hover{
    background-color: rgb(167, 75, 0);
}

/* -----------------------------Main - Fin------------------------------------ */